[submodule ".emacs.d/snippets"]
	path = .emacs.d/snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git

[submodule ".config/awesome/battery-widget"]
	path = .config/awesome/battery-widget
	url = https://github.com/deficient/battery-widget.git
[submodule "mailconf"]
	path = mailconf
	url = git@github.com:Rovanion/mailconf.git
