[user]
	name = Rovanion Luckey
	email = rovanion.luckey@gmail.com
[merge]
	tool = ew-merge
[mergetool "ew-merge"]
	prompt = false
	cmd = ew-merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
	trustExitCode = true
[difftool]
	prompt = false
[core]
	editor = emacsclient -t -a=\\\"\\\"
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	psed = !sh -c 'git grep --null --full-name --name-only --perl-regexp -e \"$1\" | xargs -0 perl -i -p -e \"s/$1/$2/g\"' -
	ff = "!f() { old=$PWD; [ -n \"$GIT_PREFIX\" ] && cd \"$GIT_PREFIX\"; git ls-files \"$old\" | grep \"$1\" -; }; f"
	changes = log --patch --find-renames --follow --stat --
	re = remote -v
[credential]
	helper = cache --timeout=3600
[push]
	default = current
[color]
	ui = auto
[sendemail]
	from = Rovanion Luckey <rovanion.luckey@gmail.com>
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = rovanion.luckey@gmail.com
	smtpserverport = 587
	chainreplyto = false
[branch]
	sort = -committerdate
[pull]
	rebase = true
[diff "clojure"]
	xfuncname = "^(\\((def|ns)([^\\[])*).*$"
[includeIf "gitdir:~/source/nsc/"]
	path = ~/source/nsc/.gitconfig
[includeIf "hasconfig:remote.*.url:git@gitlab.liu.se:*/**"]
	path = ~/source/nsc/.gitconfig
[commit]
	verbose = true
[rerere]
	enabled = true
